.page-header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid;
    color: black;
    background-color:rgb(254, 250, 219);
    border-bottom: 2px solid black;
}

.page-content {
    display: flex;
    justify-content: center;
    padding: 24px;
    background-color: white;
}

.page-header-item {
    width: 25%;
    display: flex;
    gap: 12px;
}

.left {
    justify-content: start;
}

.right {
    justify-content: right;
}